<h1> Listings </h1>
<hr>

<div class="listings">
  <% @listings.each do |listing| %>
    <div class="listing">
      <div class="avatar-container">
        <div class=avatar></div>
      </div>
      <div class="listing-body">
        <p class="listing-metadata">
          <%= listing.user.username %> <span class="date"><%= listing.created_at.strftime("%Y/%m/%d") %></span>
        </p>
        <div class="listing-content">
          <p> 
            Name: <%= listing.name %> 
          </p>
          <p> 
            Description: <%= listing.description %> 
          </p>
            <%# <% if listing.sold = true %>
            <%# <p> SOLD </p> %>
            <%# <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>