<div>
  <strong> <%= time_ago_in_words(conversation.personal_messages.last.created_at) %> ago </strong>
  <br>
  <strong> Chatting with <%= conversation.with(current_user).profile.fullname.upcase %> </strong>
  <br>
  <em> <%= conversation.personal_messages.last.body.truncate(50) %> </em>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation), class: "site-link" %>
  <hr>
</div>