<h1 class="title">WELCOME TO VCGAMES</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "gaming1.jpeg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "gaming2.jpeg" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "vintage.jpeg" %>
    </div>
  </div>
</div>