.home-container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  color: white;
  background-color: rgba(13, 129, 138, 0.6);
}

#site_links_area a, #auth_links_area a {
  border: 1px solid #333;
}

#post_show_page {
  color: white;
  font-size: 1.2em;
}

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(29, 119, 131, 0.8);
}

.topnav a {
display: inline-block;
text-decoration: none;
font-weight: bold;
font-size: 20px;
padding: 5px;
}

// .search, .welcome {
//   display: flex;
//   justify-content: center;
//   padding: 10px;
// }

// .search {
//   opacity: 0.7;
// }

// .search:hover, .search:focus {
//   opacity: 1;
// }

