.site-wrapper {
  
  .container {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    background-color: #343a40; 
    color: white;
    min-height: 100%;
    opacity: 0.8;

    .title {
      padding-top: 20px;
      font-weight: bolder;
    }

<<<<<<< HEAD
  .title {
    padding-top: 20px;
    font-weight: bolder;
  }

  .site-link {
    text-decoration: none;
=======
    .site-link {
      text-decoration: none;
    }
>>>>>>> 2ac50e61ab1c705033e72a13b9e0c0eaa2311b06
  }
}