.listing {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  .avatar-container {
    width: 20%;    
    .avatar {
      height: 40px;
      width: 40px;
      background: black;
      border-radius: 50%;
    }
  }
  .listing-body {
    width: 80%;
    .listing-metadata {
      margin: 8px 0px;
      .handle {
        color: blue;
        font-size: 12px;
      }
      .date {
        font-size: 12px;
      }
    }
    .listing-content {
      margin: 8px 0px;
    }
  }
}